* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image:url('https://images.everyplate.com/c_fill,f_auto,fl_lossy,h_700,q_auto,w_1400/everyplate_s3/image/sweet-spicy-pork-rice-bowls-8ccd6ab3.jpg');
    background-size: 800px;
    margin: 20px;
    background-repeat: no-repeat;
}

#left-card {
    display: flex;
    flex-direction: row;
    background-color: rgb(231, 28, 28);
    margin-top: 400px;
    color: #FFF;
    /* padding: */
}

#left-card .recipe-intro-left-text-bundle {
    display: flex;
    flex-direction: column;
    max-width: 425px;
}

.recipe-intro-left-text-bundle {
    margin-left: 20px;
}

#left-card h1 {
    text-transform: uppercase;
}

.tools-and-pantry {
    margin-left: 20px;
}

.tools li, .pantry-items li {
    font-size: 13px;
    margin-left: -28px;
}

.tools-and-pantry li {
    align: left;
}

h4 {
    text-align:j center;
}
