* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image:url('https://images.everyplate.com/c_fill,f_auto,fl_lossy,h_700,q_auto,w_1400/everyplate_s3/image/sweet-spicy-pork-rice-bowls-8ccd6ab3.jpg');
    background-size: 800px;
    margin: 20px;
    background-repeat: no-repeat;
}


#left-card {
    display: flex;
    background-color: red;
    margin-top: 400px;
    color: #FFF;
    /* padding: */
}

#left-card .recipe-intro-title, #left-card .recipe-intro-subtitle, #left-card .recipe-intro-description {
    display: flex;
    flex-direction: column;
}

#left-card h1 {
    text-align: left;
    text-transform: uppercase;
}

.tools li, .pantry-items li {
    font-size: 13px;
}